body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    background: #222;
    border: 3px solid #fff;
    margin-top: 20px;
}

#share-link {
    font-weight: bold;
    margin-bottom: 10px;
}
