body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    background: #222;
    border: 3px solid #fff;
    margin-top: 20px;
}

#hud {
    margin-bottom: 10px;
    text-align: center;
}

#inventory, #skills, #room-info, #share-link {
    margin: 5px;
}
