body { margin:0; background:#07121a; font-family:Arial,Helvetica,sans-serif; color:#fff; }
canvas { display:block; margin:0 auto; background:#041219; border:2px solid #123; margin-top:6px; }
.panel { position:absolute; top:60px; right:20px; background:#1b2b2f; color:white; padding:10px; width:300px; border-radius:6px; box-shadow:0 0 8px #000; }
#hud { position:absolute; top:10px; left:10px; background:rgba(0,0,0,0.35); padding:8px; border-radius:6px; }
button{ cursor:pointer; margin:4px; }
#invList button { display:block; width:100%; text-align:left; margin:6px 0; padding:6px; }
#recipes .recipe { border:1px solid #333; padding:6px; margin:6px 0; border-radius:4px; }
#playersList button { display:block; margin:4px 0; width:100%; text-align:left; }
